body {
    /* Use 100 % of viewport height and width */
    height: 100vh;
    width: 100vw;

    /* Flex all items to the center */
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: hsl(0, 0%, 95%);
}

#calculator {
    /* Create a rounded backgroud that takes up the whole width */
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 1rem;
    max-width: 100%;
    overflow: hidden;
}

#displays {
    /* Stack our displays vertically in one column with some padding */
    display: grid;
    grid-template-columns: 1;
    padding: 1rem 1rem 1rem 1rem;
}

#expression {
    /* Numeric display with smaller font-size */
    width: 100%;
    padding: 0px;
    border: none;
    font-size: 3rem;
    text-align: right;
    background-color: hsl(0, 0%, 25%);
    color: white;
}

#result {
    /* Numeric display with larger font-size */
    width: 100%;
    padding: 0px;
    border: none;
    font-size: 5rem;
    text-align: right;
    background-color: hsl(0, 0%, 25%);
    color: white;
}

#keys {
    /* Stack our keys vertically, function keys over keypad */
    display: grid;
    grid-template-columns: 1;
}

#functions {
    /* Grid of 5 columns, one fractional unit each */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#keypad {
    /* Grid of 5 columns, one fractional unit each */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

button {
    /* A circular button */
    width: 8rem;
    height: 8rem;
    border: none;
    border-radius: 4rem;
    font-size: 4rem;
    font-weight: bold;
    padding: 0;
    background-color: hsl(0, 0%, 30%);
    color: white;
    cursor: pointer;
}

button:hover {
    /* lighter color when hovered over */
    background-color: hsl(0, 0%, 40%);
}

button:active {
    /* even lighter color when clicked */
    background-color: hsl(0, 0%, 60%);
}

.function {
    /* rectangular style function button */
    width: 6rem;
    height: 4rem;
    border-radius: 5px;
    background-color: hsl(0, 0%, 50%);
    font-size: 2rem;
}

.main {
    /* main buttons are orange */
    background-color: hsl(35, 100%, 50%);
}

.main:hover {
    /* lighter color when hovered over */
    background-color: hsl(35, 100%, 65%);
}

.main:active {
    /* even lighter color when clicked */
    background-color: hsl(35, 100%, 75%);
}

.operator {
    /* operator buttons are a shade different */
    background-color: hsl(0, 0%, 50%);
}

.operator:hover {
    /* lighter color when hovered over */
    background-color: hsl(0, 0%, 65%);
}

.operator:active {
    /* even lighter color when clicked */
    background-color: hsl(0, 0%, 75%);
}

/* If big screen with a mouse, then do not make it too wide */
@media only screen and (pointer:fine) and (min-width: 600px) {
    #calculator {
        /* use fixed width */
        max-width: 600px;
    }

    #functions {
        /* Use 10 columns instead, one fractional unit each */
        grid-template-columns: repeat(10, 1fr);
        gap: 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    button {
        /* size of button that works with fixed width */
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
        font-size: 3rem;
    }

    .function {
        /* size of button that works with fixed width */
        width: 3rem;
        font-size: 1.5rem;
    }
}

/* Tablets in landscape mode */
@media only screen and (pointer:course) and (orientation:landscape) {
    #keys {
        /* Stack our keys side by side, function keys to the left of keypad */
        display: flex;
        flex-direction: row;
    }

    #functions {
        /* Grid of 2 columns, one fractional unit each */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

/* Old iPhone XR, 11 */
@media only screen and (pointer:course) and (-webkit-device-pixel-ratio : 2) {

}

/* iPhone 13 and later */
@media only screen and (pointer:course) and (-webkit-device-pixel-ratio: 3) {

}
