body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* 100 % of viewport height */
    height: 100vh;
    width: 100vw;
    background-color: hsl(0, 0%, 95%);
}

#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 1rem;
    max-width: 100%;
    overflow: hidden;
}

#displays {
    display: grid;
    grid-template-columns: 1;
    justify-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#expression {
    width: 100%;
    padding: 0px;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;
    font-size: 3rem;
    text-align: right;
}

#result {
    width: 100%;
    padding: 0px;
    border: none;
    background-color: hsl(0, 0%, 25%);
    color: white;
    font-size: 5rem;
    text-align: right;
}

#functions {
    display: grid;
    /* 5 columns, one fractional unit each */
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

#keypad {
    display: grid;
    /* 5 columns, one fractional unit each */
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

button {
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 60%);
}

.function {
    width: 4rem;
    height: 3rem;
    border-radius: 5px;
    background-color: hsl(0, 0%, 50%);
    font-size: 1rem;
}

.main {
    background-color: hsl(35, 100%, 50%);
}

.main:hover {
    background-color: hsl(35, 100%, 65%);
}

.main:active {
    background-color: hsl(35, 100%, 75%);
}

.operator {
    background-color: hsl(0, 0%, 50%);
}

.operator:hover {
    background-color: hsl(0, 0%, 65%);
}

.operator:active {
    background-color: hsl(0, 0%, 75%);
}

/* If big screen with a mouse, then do not make it too wide */
@media only screen and (pointer:fine) and (min-width: 600px) {
    #calculator {
        max-width: 600px;
    }

    #functions {
        /* 10 columns, one fractional unit each */
        grid-template-columns: repeat(10, 1fr);
        gap: 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    button {
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
        font-size: 3rem;
    }

    .function {
        width: 3rem;
    }
}

/* iPhone XR, 1792x828px at 326ppi */
@media only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2) {
    button {
        width: 6rem;
        height: 6rem;
        border-radius: 3rem;
        font-size: 3rem;
    }
}
