#main {
    background: blue;
    color: white;
    padding: 50px 15px 50px 15px; /* top, right, bottom, left */
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}